<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>all</title>
</head>
<body>
	<center>
	<h1>ALL THE MESSAGES</h1><br>
	{% for i in t %}

		<h5>date: {{t[i]['date']}}</h7>
        <h3>Text: {{t[i]['text']}}</h5>
        <br>

	{% endfor %}
	 <a href="/add"><button>add new message</button></a>
	 </center>

	<style>
        body{
        background-image : url('../static/t.gif');
        color: white;
        font-family: "Lucida Console", "Courier New", monospace;

        }

    </style>
</body>
</html>