<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <form method="POST" action="/signup">
        <!-- Heading -->
        <center>
        <h4>
            Create an account
        </h4>

        <!-- Subheading -->
        <p >
            Please fill up your information below to sign up.
        </p>

        <!-- Email --><br>
        <div>
            <label>Email address*</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div><br>
        <!-- Password -->
        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div><br>

        <div>
            <label>Full name*</label>
            <div>
                <input type="text"  name="full_name" id="full_name" required>
            </div>
        </div><br>

        <div>
            <label>Username*</label>
            <div>
                <input type="text"  name="username" id="username" required>
            </div>
        </div><br>

   
        
        <!-- Button -->
        <div>
            <input type="submit" value="Signup" />
        </div>


    </form>
    <br><br>
    <button><a href="/"> signin </a></button>
    </center>

    <style>
        body{
            background-image : url('../static/d.gif');
            color: white;
            /*text-shadow: 2px 2px 5px red;*/
            text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
            font-family: "Lucida Console", "Courier New", monospace;
        }
       /* label{
            color: red;
        }*/
       
    </style>
</body>
</html>